#btn {
  padding: 15px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  box-sizing: boder-box;;
  box-shadow: 0 5px #716F81;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}


li {
  background-color: rgb(181, 170, 245);
  color: rgb(126, 31, 113);

}



#para {
  background-color:rgb(236, 176, 206);
  width: 250px;
  height:300px;
  border-style: double;
}
